body
{
	 margin: 10px 0 ;
	 padding: 0 25px 0 100px ;
	 text-align: center ;
	 font: 0.8em "Trebuchet MS", helvetica, sans-serif ;
	 text-align: justify;
	 font-size: 15px ;
	 background: #dea ;

}

header
{
	 height: 258px ;
	 margin: 0 ;
	 background: url(../images/apple.jpg) no-repeat left top ;
	 text-align: center ;

}
header h1
{
	 font-size: 250% ;
	 color: #87CEFA ;
}
header h2
{
        font-size: 200% ;
        font-style: italic ;
		color: #87CEFA ;
}
div#titre
{
        text-align: center ;
        font-size: 25px ;
}
div#production
{
        font-size: 20px
}

div#conteneur
{
	width: 770px ;
	margin: 0 auto ;
	text-align: left ;
	border: 2px solid #ab4 ;
	background: #fff ;
}

nav#menuhorizontal ul{
	height: 35px ;
	margin: 0 ;
	padding: 0 ;
	background: url(../images/bg_menu.gif) repeat-x 0 -25px ;
	list-style-type: none ;
}

nav#menuhorizontal li{
	float: left ;
	text-align: center ;
}

nav#menuhorizontal li a{
	width: 254px ;
	line-height: 25px ;
	font-size: 1.2em ;
	font-weight: bold ;
	letter-spacing: 2px ;
	color: #fff ;
	display: block ;
	text-decoration: none ;
	border-right: 2px solid #dea ;
}

nav#menuhorizontal li a:hover
{
	background: url(../images/bg_menu.gif) repeat-x 0 0 ;
}

nav#menuvertical{
	margin-top: 280px;
	margin-left: 110px;
	float :left;
	width: 225px ;
	line-height: 19px ;
	text-align: right ;
	font-weight: bold ;
	letter-spacing: 2px ;
	display: block ;

}

nav#menuvertical li a{
	float: left ;
	text-align: center ;
}


nav#menuvertical a:link 
{ 
text-decoration:none; 
color: black ;
} 

nav#menuvertical a:visited{
	color: black;
}

nav#menuvertical li a:hover
{
	background: url(../images/bg_menu.gif) repeat-x 0 0 ;

}
h2#article {
	text-align: center;
	font-size: 25px;
}
div#activité{
	font-size: 20px;
}

article h2{
	padding-left: 25px ;
	line-height: 25px ;
	font-size: 1.4em ;
	background: url(../images/little_apple.gif) no-repeat left bottom ;
	color: #9b2 ;
	border-bottom: 1px solid #9b2 ;

}

div#corps p{

	text-align: justify ;
	text-indent: 4em ;
	line-height: 1.7em 

}

div#corps{

	text-align: justify;
	font-size: 15px ;
	padding: 0 25px 0 100px ;
	background: url(../images/bg_page.gif) no-repeat 15px 15px ;
}

footer{
	margin: 0 ;
	padding-right: 10px ;
	line-height: 30px ;
	text-align: right ;
	color: #8a0 ;

}

footer a:link{
	text-decoration:none; 
	color: #8a0 ;
}

footer a:visited{
	color: #8a0 ;
}

footer a:hover{
	background: url(../images/bg_menu.gif) repeat-x 0 0 ;
}

p.copyr /* classe de style appliquée à p*/
{
	color: red ;
}

.contact /* classe de style universelle */
{
  color: blue ;
}

