body{
	margin: 10px 0 ;
	padding: 0 ;
	text-align: center ;
	font: 0.8em "Trebuchet MS", helvetica, sans-serif ;
	background: #dea ;
}
header{
	height: 258px ;
	margin: 0;
	text-align: center ;
	background: url("../images/apple.jpg") no-repeat left top;
}
header h1{
	font-size: 250% ;
}

h2{
	font-size: 200%;
	font-style: italic;
}

div#conteneur {
	width: 770px ;
	margin: 0 auto ;
	text-align: left ;
	border: 2px solid #ab4 ;
	background: #fff ;
}

